@media (max-width: 1200px)
  .container
    max-width: 960px
  .hotel
    &-slider
      max-width: 100%
      &__swiper
        max-width: 600px
  .game
    width: 230px
    height: 230px
  .packages
    grid-template: 450px 450px / 300px 300px 300px
    &-cards
      &__text
        max-height: 120px
  .picture
    max-height: 200px
  .information
    margin-left: 30px
  .footer
    &__input
      flex-basis: 100%
  .modal
    &__dialog
      width: 478px
@media (max-width: 992px)
  .container
    max-width: 700px
    margin: auto
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto
    &-menu
      padding-top: 22px
      padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px
  .logo
    width: 132px
  .search
    &__input
      width: 340px
  .hotel
    &-network
      flex-direction: column
    &-slider
      width: 100%
      margin-bottom: 30px
      &__swiper
        max-width: 700px
    &-person-map
      display: flex
      flex-direction: row
      justify-content: space-between
  .booking
    max-width: 340px
    max-height: 210px
    &-button
      &:not([disabled])
        &:hover
          color: $white
          background-color: $primary
          cursor: pointer

  .hotel-map
    max-width: 340px
    max-height: 210px
  .newsletter
    padding-top: 93px
    padding-bottom: 93px
    &-wrapper
      max-width: 700px
  .reviews
    &__title
      margin-bottom: 50px
      font-size: 30px
      line-height: 38px
    &-slider
      &__subscribe
        max-width: 580px
      &__text
  .activities
    &-title
      font-size: 24px
      line-height: 30px
    &-action
      flex-wrap: wrap
  .game
    width: 340px
    height: 255px
    margin-bottom: 20px
  .packages
    grid-template: 450px 450px 450px / 335px 335px
  .footer
    &-wrapper
      grid-template-columns: repeat(3, minmax(min-content, 1fr))
    &__logo
      grid-row: 1 / 2
      width: 104px
    &__fields
      grid-row: 7 / 7
    &__input
      max-width: 255px
  .social
    grid-row: 1 / 2
    grid-column: span 3
    align-items: center
  .categories
    grid-row: 2 / 3
  .details
    grid-row: 4 / 5
    grid-column: span 4
  .message
    grid-column: 1 / span 3
    grid-row: 5
  .information
    margin-left: 0
  .hover
    &:not([disabled])
      &:hover
        color: $white
        background-color: $primary
        cursor: pointer
  .hover
    &-link
      &:not([disabled])
        &:hover
          color: $text-color
  .hover
    &-footer
      &-link
        &:not([disabled])
          &:hover
            color: $foot-col
@media (max-width: 767px)
  .container
    max-width: 576px
    width: 92%
  body
    padding-top: 78px
  .navbar
    &-bottom
      &__visible
        overflow-y: auto
    &-menu
      &__visible
        padding-top: 31px
    &__mobile
      &__fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        z-index: 100
    &__user
      margin-bottom: 7px
      &__mobile
        &__hidden
          display: none
        &__visible
          display: flex
          flex-wrap: wrap
          &__link
            align-items: center
            flex-direction: column
          &__avatar
            margin: 0
            margin-bottom: 10px
          &__name
            font-family: Mulish
            font-style: normal
            font-weight: normal
            font-size: 14px
            line-height: 18px
            color: $white
    &__search
      margin-bottom: 19px
      &__mobile
        &__hidden
          display: none
        &__visible
          display: flex
          max-width: 240px
          max-height: 40px
          &__input
            padding-right: 68px
            font-family: Mulish
            font-style: normal
            font-weight: normal
            font-size: 12px
            line-height: 15px
            color: $text-color
    &-bottom
      display: none
      position: fixed
      top: 78px
      left: 0
      bottom: 0
      right: 0
      &__visible
        display: block
    &-menu
      &__list
        flex-direction: column
      &__item
        margin-bottom: 20px
        &__search
          display: block
        &__user
          display: block
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      flex-direction: column
      align-items: center
      justify-content: space-between
      border: none
      background-color: $white
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .logo
    width: 99px
  .hotel-info
    &__rating
      display: none !important
    &__offer
      margin-left: 0
      order: -1
    &__wrapper
      justify-content: space-between
    &__name
      flex-basis: 100%
      font-size: 24px
      line-height: 30px
      margin-top: 10px
    &__stars
      flex-basis: content !important
    &__text
      flex-basis: 100%
  .hotel
    &-network
      flex-direction: column
    &-slider
      width: 100%
      max-height: 350px
      margin-bottom: 30px
      &__swiper
        max-height: 100%
    &-person-map
      display: flex
      flex-direction: column
  .booking
    min-width: 100%
  .hotel-map
    min-width: 100%
  .newsletter
    padding: 76px 20px 83px 20px
    &-wrapper
      align-items: flex-start
      flex-direction: column
      min-height: 160px
      max-width: 92%
  .reviews
    &__title
      font-size: 28px
      margin-bottom: 42px
    &-slider
      &__button
        top: 45px
        &__next
          right: 50%
          margin-right: -65px
          transform: translate(50%, 0)
        &__prev
          left: 50%
          margin-left: -65px
          transform: translate(-50%, 0)
      &__subscribe
        max-width: 92%
        padding: 0 30px 30px
        &::after, &::before
          display: none
  .game
    width: 580px
    &:nth-child(4)
      margin-bottom: 0
  .packages
    display: grid
    grid-template: 435px 435px / 55% 55%
    gap: 0
    margin-bottom: 70px
    max-width: 92%
    &-cards
      grid-column: 1 / span 2
      position: relative
      display: flex
      border-radius: 6px
      overflow: hidden
      margin-bottom: 10px
      &__text
        max-height: 90px
      &__buy
        margin-bottom: 5px
    &-card-one
      margin-right: 10px
    &-card-three
      display: none
    &-card-four
      display: none
  .footer
    &__bottom
      flex-wrap: wrap
      justify-content: start
      &__stack
        flex-basis: 100%
      &__image
        margin-left: 0
        margin-top: 10px
        align-self:
    &__form
      max-width: 100%
  .modal
    &__dialog
      margin-top: 25px
      width: 576px
  .details
    max-width: 435px
  .footer
    &__social
      &-network
        &__title
          &__inline
            margin-right: 43px
  .social
    max-width: 280px

@media (max-width: 576px)
  .container
    max-width: 480px
  .hotel
    &-slider
      max-height: 250px
      &__swiper
        max-height: 100%
  .booking
    min-width: 100%
    &-button
      padding: 13px 54px
  .hotel-map
    min-width: 100%
  .newsletter
    &-wrapper
      max-width: 92%
      &__new
        font-size: 30px
        line-height: 38px
      &__send
        max-width: 80%
  .reviews
    &-slider
      &__subscribe
        max-width: 92%
  .other-packages
    &-title
      font-family: Mulish
      font-style: normal
      font-weight: bold
      font-size: 26px
      line-height: 30px
  .packages
    display: grid
    grid-template: 450px 450px / 95%
    gap: 0
    margin-bottom: 50px
    &-cards
      position: relative
      display: flex
      flex-direction: column
      border-radius: 6px
      overflow: hidden
      margin-bottom: 20px
      grid-column: 1 / 1
      &__text
        display: none
      &__img
        width: 100%
        height: 200px
        object-fit: cover
      &__info
        width: 100%
        padding: 15px 15px
      &__person
        margin-top: 8px
        margin-bottom: 8px
    &-card-one
      min-width: 100%
      &__person
        margin-top: 8px
        margin-bottom: 8px
      &__info
        padding: 15px 15px
      &__image
        width: 100%
    &-card-two
      display: none
    &-card-three
      display: none
    &-card-four
      display: none
  .footer
    &-wrapper
      grid-template-columns: 280px
      gap: 30px
    &__logo
      grid-row: 1
    &__social-network
      flex-wrap: wrap
    &__link-wrapper
      margin-top: 20px
    &__input
      &-group
        max-width: 280px
  .social
    grid-row: 2
    grid-column: 1 / 1
  .information
    grid-row: 3
  .additional
    grid-row: 4
  .categories
    grid-row: 5
  .details
    grid-row: 6
    width: 480px
  .message
    grid-row: 7
    max-width: 280px
    margin-top: 50px
  .modal
    &__dialog
      max-width: 92%
  .booking
    max-width: 340px
    max-height: 210px

@media (min-width: 320px) and (max-width: 480px)
  .container
    max-width: 280px
  .hotel
    &-slider
      max-width: 100%
      max-height: 210px
      &__swiper
        max-height: 100%
  .booking
    max-width: 100%
    max-height: 210px
    padding: 29px 22px 26px 22px
    &-button
      padding: 13px 54px !important
      font-size: 12px !important
  .hotel-map
    max-width: 100%
    max-height: 210px
  .newsletter
    &-wrapper
      max-width: 280px
      &__new
        font-size: 30px
        line-height: 38px
      &__send
        max-width: 100%
  .reviews
    &__title
      font-size: 18px
      line-height: 23px
    &-slider
      &__subscribe
        max-width: 280px
  .activities
    &-title
      font-size: 18px
      line-height: 23px
  .game
    width: 280px
    height: 255px
    &:nth-child(4)
      margin-bottom: 0
  .other-packages
    &-title
      font-family: Mulish
      font-style: normal
      font-weight: bold
      font-size: 26px
      line-height: 30px
  .packages
    display: grid
    grid-template: 450px 450px / 280px
    gap: 0
    margin-bottom: 50px
    &-cards
      position: relative
      display: flex
      flex-direction: column
      border-radius: 6px
      overflow: hidden
      margin-bottom: 20px
      &__text
        display: none
      &__img
        width: 100%
        height: 200px
        object-fit: cover
      &__info
        width: 100%
        padding: 15px 15px
      &__person
        margin-top: 8px
        margin-bottom: 10px
    &-card-one
      margin-bottom: px
      &__person
        margin-top: 8px
        margin-bottom: 8px
      &__info
        padding: 15px 15px
    &-card-two
      display: none
    &-card-three
      display: none
    &-card-four
      display: none
  .footer
    &-wrapper
      grid-template-columns: 280px
      gap: 30px
    &__logo
      grid-row: 1
    &__social-network
      flex-wrap: wrap
    &__link-wrapper
      margin-top: 20px
    &__input
      &-group
        max-width: 280px
  .social
    grid-row: 2
    grid-column: 1 / 1
  .information
    grid-row: 3
  .additional
    grid-row: 4
  .categories
    grid-row: 5
  .details
    grid-row: 6
    max-width: 280px
  .message
    grid-row: 7
    max-width: 280px
    margin-top: 50px
  .modal
    &__dialog
      max-width: 280px
      padding: 13px 13px
    &__button
      width: 130px
      height: 35px
      text-align: center
      padding: 10px 25px 20px 25px
