.breadcrumbs
  &-list
    list-style-type: none
    display: flex
    align-items: center
    padding-left: 0
    margin-top: 18px
    margin-bottom: 18px
    font-size: 10px
    line-height: 13px
    &__link
      text-decoration: none
      color: inherit
      &:hover
        color: red
        transition: 0.3s
    &__item
      &:not(:last-child)
        &::after
          content: '/'
          margin-right: 4px
